body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

button{
    padding: 15px 40px;
    font-size: 40px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.5s ease;
    border: none;
    box-shadow: 0px 0px 10px rgb(117, 112, 112);
    background-color: rgb(21, 27, 33);
    color: azure;
} 

button span{
    font-size: 10px;
    display: block;
}

button:hover{
    transform: scale(1.1);
}
button:active{
    transform: translateY(5px);
}